<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673913634987-tvjah8ksv0847but87vro53vv71j17jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673913634987-tvjah8ksv0847but87vro53vv71j17jh</string>
	<key>API_KEY</key>
	<string>AIzaSyC_gt83CGPtyyJyOu14HqXsISXnAdvGaI8</string>
	<key>GCM_SENDER_ID</key>
	<string>673913634987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.englishlessons</string>
	<key>PROJECT_ID</key>
	<string>newone-67f36</string>
	<key>STORAGE_BUCKET</key>
	<string>newone-67f36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673913634987:ios:c836a0e4aed18efcdcf7ee</string>
</dict>
</plist>